<router-outlet></router-outlet>



<div class="special">plain old HTML</div>
<img [src]="imgSrc">
<!-- <button [disabled]="onSave">Save</button> -->


<td [attr.colspan]="3"></td>

<button (click)="onSave($event)" [class]="{bgGreen:saved,colorWhite:disabled}">Save</button>

<h3>Current Customer:{{currentCustomer}}</h3>
<h4>myClick is an Event on the custom clickDirective:</h4>
<button type="button" (click)="clickMessege=$event">click with myClick</button>
{{clickMessege |json}}

<input (keydown.shift.t)="onKeyDown($event)">

<div class="nav-container">
<button class="nav-btn" type="button" routerLink="/customers" >Customers</button>
<button class="nav-btn" type="button" routerLink="/order-list" >Orders</button>
<button class="nav-btn" type="button" routerLink="" >Home</button>
</div>
